@model IEnumerable<FastBurger.Models.Lanche>

@{
    ViewData["Title"] = "Produtos";
}

<h1>Produtos</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Adicionar Produto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LancheNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsLanchePreferido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmEstoque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LancheNome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Preco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsLanchePreferido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmEstoque)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.CategoriaNome)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.LancheId">Editar</a>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.LancheId">Detalhes</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.LancheId">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
