@model IEnumerable<FastBurger.Models.Categoria>

@{
    ViewData["Title"] = "Categorias";
}

<h1>Categorias</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Adicionar Categoria</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.CategoriaId">Editar</a> 
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.CategoriaId">Detalhes</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CategoriaId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
